<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<div class="container">
    <form (ngSubmit)="saveData()">
        <div class="col-md-3">
            <label class="form-label">First Name: </label>
            <input class="form-control" type="text" name="firstName" placeholder="First Name"
                value="{{formData.firstName}}" [(ngModel)]="formData.firstName" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Last Name: </label>
            <input class="form-control" type="text" name="lastName" placeholder="Last Name"
                value="{{formData.lastName}}" [(ngModel)]="formData.lastName" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Email: </label>
            <input class="form-control" type="text" name="email" placeholder="Email Address" value="{{formData.email}}"
                [(ngModel)]="formData.email" />
        </div>
        <br>
        <div class="col-md-3">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
</div>